<div class="d-flex justify-content-between pb-1  text-muted">
    <h5>
        <%= product.item.pname %>
    </h5>
    <h5 >
        <%= product.item.Price%>
    </h5>
    <h5 class="pe-3">
        <%= product.qty %>
    </h5>
</div>