<!-- First Footer -->
<section class="bottom-0  bg-white container-fluid ">
<div class="container p-5  border-dark border-top pt-3">
  <div class="row">
    <div class=" col-md-2 col-6 footer-col container">
      <h4>company</h4>
      <ul>
        <li><a href="/">about us</a></li>
        <li><a href="#">our services</a></li>
        <li><a href="#">privacy policy</a></li>
        <li><a href="#">affiliate program</a></li>
      </ul>
    </div>
    <div class=" col-md-2 col-6 footer-col container">
      <h4>get help</h4>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">shipping</a></li>
        <li><a href="#">returns</a></li>
        <li><a href="#">ordr status</a></li>
        <li><a href="#">payment options</a></li>
      </ul>

    </div>
    <div class=" col-md-2 col-6  footer-col container">
      <h4>online shop</h4>
      <ul>
        <li><a href="#">pants</a></li>
        <li><a href="#">shoes</a></li>
        <li><a href="#">dresses</a></li>
        <li><a href="#">tops</a></li>
        <li><a href="#">jackets</a></li>
      </ul>
    </div>
    <div class="col-md-1 col-6  footer-col container">
      <h4>follow us</h4>
      <div class="social-links">
        <a href="#"><i class="bi-facebook"></i></a>
        <a href="#"><i class="bi-twitter"></i></a>
        <a href="#"><i class="bi-instagram"></i></a>
        <a href="#"><i class="bi-github"></i></a>
      </div>
    </div>
</section>

<!-- second Footer -->
<section class="bottom-0 p-3 bg-white container-fluid ">
<div class="d-flex justify-content-between container border-dark border-top pt-3">
  <div>
    <div class="container">
      <a href="" class="link-secondary text-decoration-none">Terms and conditions of purchase </a>
      <a href="" class="link-secondary text-decoration-none ">• Privacy Policy</a>
      <a href="" class="link-secondary text-decoration-none">• Cookie Policy</a>
      <a href="" class="link-secondary text-decoration-none">• configure cookies</a>
      <a href="" class="link-secondary text-decoration-none">• site map</a>
    </div>
  </div>


  <div>
    <div class="container">
      <a class="bi-c-circle-fill link-secondary">2023 Blankoo</a>
    </div>

  </div>
</div>
</div>
</div>
</div>
</section>
