  <!-- nav bar -->
  <div class="text-center bg-black vh-100 w-100 position-fixed " id="preloading" style="z-index: 1000;">
    <div>
      <h1 class="bx bxl-bootstrap" style="margin-top: 300px;"></h1>
    </div>
    <div>
      <h1>BLANKOO</h1>
    </div>
    <div class="spinner-border text-light" role="status" style="margin-top: 200px;">
      <span class="visually-hidden ">Loading...</span>
    </div>
  </div>

  <nav class="py-2 border-bottom bg-black">
    <!-- mobile nav -->
    <div class="container d-block d-md-none ">
      <div class="row p-3">
        <div class="col-3">
          <a href="#" class="bar link-light text-start " onclick="openNav()"><i class="fa-solid fa-bars"></i></a>
        </div>
        <div class="col-4 z-3 ">
          <a href="#" class="bar link-light px-5 text-center" onclick="openNav()"><i class="bi-bootstrap"></i></a>
        </div>
        <%if(user != "" ){%>
          <div class="dropdown text-end col-4">
            <a href="#" class="link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%=  %>" alt="mdo" width="30" height="30" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small ">
              <li><a class="dropdown-item" href="#"><%= user.username %></a></li>
              <li><hr class="dropdown-divider"></li>
              <% if(user.isAdmin === true ) { %>
              <li><a class="dropdown-item" href="/admin/admin_dashboard">Dashboard</a></li>
              <% } %>
              <li><a class="dropdown-item" href="#">profile</a></li>
              <li><a class="dropdown-item" href="user/Signout">Sign out</a></li>
            </ul>
          </div>
        <% }%>
      </div>

      <div id="mySidenav" class="sidenav ">
        <a href="#close" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#" class="bar link-light px-5 text-center border-bottom m-3 " onclick="openNav()"><i
            class="bi-bootstrap"></i></a>
        <a href="HOME.html">Home</a>
        <a href="Features.html">Features</a>
        <a href="#">FAQS</a>
        <a href="About_Us.html">About Us</a>
        <a href="user/Cart">Cart</a>

        <div class="d-flex justify-content-center ">


          <button class="btn btn-light w-50 m-5">Signup</button>

          <button class="btn btn-light w-50 m-5">Login</button>

        </div>
      </div>
    </div>
    <!-- pc first nav -->
    <nav class="py-2 bg-black  d-none d-md-block">
      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <li class="nav-item"><a href="/Home" class="nav-link link-light px-2 active" aria-current="page">Home</a></li>
          <li class="nav-item"><a href="/features" class="nav-link link-light px-2">Features</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">Pricing</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-light px-2">FAQs</a></li>
          <li class="nav-item"><a href="/About_us" class="nav-link link-light px-2">About</a></li>
        </ul>
        <ul class="nav">

          <% if(user === "" ) {%>
            <li class="nav-item"><a href="/user/login" class="nav-link btn btn-outline-light px-2 me-2">Login</a></li>
            <li class="nav-item"><a href="/user/Signin" class="nav-link btn btn-light px-2">Sign up</a></li>
          <% }
          else{%>
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/images/Admin/course-04.jpg" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small ">
                <li><a class="dropdown-item" href="#"><%= user.username %></a></li>
                <li><hr class="dropdown-divider"></li>
                <% if(user.isAdmin == true ) { %>
                <li><a class="dropdown-item" href="/admin/admin_dashboard">Dashboard</a></li>
                <% } %>
                <li><a class="dropdown-item" href="/user/Profile">profile</a></li>
                <li><a class="dropdown-item" href="/user/Signout">Sign out</a></li>
              </ul>
            </div>
          <% }%>
        </ul>
      </div>
    </nav>
  </nav>
  <!-- end -->

  <!-- pc second nav -->
  <header class="py-3 bg-transparent  z-2 shadow pc_second_nav  ">
    <div class="container d-flex flex-wrap justify-content-center ">
      <a href=""
        class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none  d-none d-md-flex  ">
        <span class="fs-4  d-none d-sm-block">BLANKOO</span>
        <span class="m-3 border-bottom border-3">MEN</span>
        <span class=" ">WOMEN</span>
      </a>
      <form action="/user/search" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 d-block d-lg-none" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search" name="search">
      </form>
      <div class="col-12 col-lg-auto mb-3 mb-lg-0 mt-3 d-none d-lg-block ">
        <i class="bi bi-search pe-5" onclick="open_search()"></i>
      </div>
   
      <a  class="btn position-relative pt-3" href="/user/cart">
        <i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>
        <span class="position-absolute top-0  mt-3 start-100 translate-middle badge rounded-pill bg-danger">
          
          <span class="visually-hidden">unread messages</span>
        </span>
      </a>
    </div>
  </header>
  <!-- end -->

  <!-- search nav for pc -->
  <div id="search_nav" class="search_nav w-100">
    <a href="#close" class="closebtn" onclick="close_search()">&times;</a>

    <form action="/user/search" method="post">
      <input type="text" name="search" placeholder="Write here" >
    </form>
  </div>
  <!-- end -->