        <div class="head bg-white p-15 between-flex">
          <div class="search p-relative">
            <input class="p-10" type="search" placeholder="Type A Keyword" />
          </div>
          <div class="dropdown text-end">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="<%= user.Image %>" alt="mdo" width="32" height="32" class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small ">
              <li><a class="dropdown-item" href="#"><%= user.username %></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/Home">Home</a></li>
              <li><a class="dropdown-item" href="#">profile</a></li>
              <li><a class="dropdown-item" href="/user/Signout">Sign out</a></li>
            </ul>
          </div>
        </div>