<div class="sidebar2 bg-white p-20 p-relative">
    <h3 class="p-relative txt-c mt-0">BLANKOO</h3>
    <ul>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/admin_dashboard">
          <i class='bx bxs-dashboard'></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="settings.html">
          <i class='bx bxs-cog' ></i>
          <span>Settings</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="profile.html">
          <i class='bx bx-user'></i>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/team">
          <i class='bx bx-user-circle'></i>
          <span>Team</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/view-products">
          <i class='bx bx-box'></i>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a class="d-flex align-center fs-14 c-black rad-6 p-10" href="/admin/clients">
          <i class='bx bxs-user'></i>
          <span>Clients</span>
        </a>
      </li>
    </ul>
  </div>