<!-- top page function -->
<div class="position-fixed" style="right: 10px; bottom: 40px ; display: block;"
onclick="topFunction()"  data-aos="fade-up">
<button class="fa-solid fa-arrow-up border-0 bg-black link-light rounded-2 p-2"></button>
</div>
