<html lang="en">
<head>
    <%- include("../partials/Head.ejs") %>
</head>
<body>
    <%- include("../partials/Nav.ejs") %>

    <div>
      <h1>OOPS, page not found :)</h1>
    </div>

</body>

</html>