<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <%- include("../partials/Nav.ejs") %>
        <section class="mt-3 mb-3">
            <div class="container-fluid">
                <div class="container">
                    <h2 class="font-weight-bold mb-2">Our Team</h2>
                    <p class="font-italic text-muted mb-4"> TOGETHER EVERYONE ACHIEVES MORE </p>
                </div>
            </div>

            <div class="row">
                <!-- first card -->
                <div class=" container col-lg-2 col-sm-6  col-12 mb-5">
                    <div class="card-body shadow rounded ">
                        <img src="/images/Admin/Zayaty.jpg" alt="" srcset="" class="w-100 card-img-top ">
                        <div class="container ">
                            <h5 class="pt-3">Zeyad Zayaty</h5>
                            <p class="small text-muted ">CEO - Consultant</p>
                            <div class="bg-dark p-2 text-center">
                                <a href="#"><i class="bi-facebook link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-twitter link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-github link-light p-2 link-opacity-75-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second card -->
                <div class=" container col-lg-2  col-sm-6  col-12 mb-5">
                    <div class="card-body shadow rounded ">
                        <img src="/images/Admin/Mark.jpeg" alt="" srcset="" class="w-100 card-img-top ">
                        <div class="container ">
                            <h5 class="pt-3">Mark Mounir</h5>
                            <p class="small text-muted ">CEO - Consultant</p>
                            <div class="bg-dark p-2 text-center">
                                <a href="#"><i class="bi-facebook link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-twitter link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-github link-light p-2 link-opacity-75-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--third-->
                <div class=" container col-lg-2  col-sm-6  col-12 mb-5">
                    <div class="card-body shadow rounded ">
                        <img src="/images/Admin/Mervat.JPG" alt="" srcset="" class="w-100 card-img-top ">
                        <div class="container ">
                            <h5 class="pt-3">Mervat Sherif</h5>
                            <p class="small text-muted ">CEO - Consultant</p>
                            <div class="bg-dark p-2 text-center">
                                <a href="#"><i class="bi-facebook link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-twitter link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-github link-light p-2 link-opacity-75-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--fourth-->
                <div class=" container col-lg-2 col-sm-6  col-12 mb-5">
                    <div class="card-body shadow rounded ">
                        <img src="/images/Admin/Robert.JPG" alt="" srcset="" class="w-100 card-img-top ">
                        <div class="container ">
                            <h5 class="pt-3">Robert Raafat</h5>
                            <p class="small text-muted ">CEO - Consultant</p>
                            <div class="bg-dark p-2 text-center">
                                <a href="#"><i class="bi-facebook link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-twitter link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-github link-light p-2 link-opacity-75-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--fifth card-->
                <div class=" container col-lg-2  col-sm-6  col-12 mb-5">
                    <div class="card-body shadow rounded ">
                        <img src="/images/Admin/nour.jpeg" alt="" srcset="" class="w-100 card-img-top ">
                        <div class="container ">
                            <h5 class="pt-3">Nour Ehab</h5>
                            <p class="small text-muted ">CEO - Consultant</p>
                            <div class="bg-dark p-2 text-center">
                                <a href="#"><i class="bi-facebook link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-twitter link-light p-2 link-opacity-75-hover"></i></a>
                                <a href="#"><i class="bi-github link-light p-2 link-opacity-75-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>


        <%- include("../partials/Top_Function.ejs") %>
            <%- include("../partials/Footer.ejs") %>
</body>

</html>