<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/Head.ejs") %>
  </head>
  <body>
    <div class="page d-flex">
      <%- include("../partials/sidebar_admin.ejs") %>
      <div class="content w-full">
        <!-- Start Head -->
        <%- include("../partials/Navbar_admin.ejs") %>
        <!-- End Head -->
        <h1 class="p-relative">Dashboard</h1>
        <div class="wrapper d-grid gap-20">
          <!-- Start Welcome Widget -->
          <div class="welcome bg-white rad-10 txt-c-mobile block-mobile">
            <div class="intro p-20 d-flex space-between bg-eee">
              <div>
                <h2 class="m-0">Welcome</h2>
                <p class="c-grey mt-5">BLANKOO</p>
              </div>
              <img class="hide-mobile" src="../images/Admin/welcome.png" alt="" />
            </div>
            <img src="../images/Admin/avatar.png" alt="" class="avatar" />
            <div class="body txt-c d-flex p-20 mt-20 mb-20 block-mobile">
              <div>Mervat Habib<span class="d-block c-grey fs-14 mt-10">Admin</span></div>
              <div>80 <span class="d-block c-grey fs-14 mt-10">Products</span></div>
              <div>$8500 <span class="d-block c-grey fs-14 mt-10">Earned</span></div>
            </div>
            <a href="profile.html" class="visit d-block fs-14 bg-blue c-white w-fit btn-shape">Profile</a>
          </div>
          <!-- End Welcome Widget -->
          <!-- Start Quick Draft Widget -->
          <div class="quick-draft p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Quick Draft</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Write A Draft For Your Ideas</p>
            <form>
              <input class="d-block mb-20 w-full p-10 b-none bg-eee rad-6" type="text" placeholder="Title" />
              <textarea class="d-block mb-20 w-full p-10 b-none bg-eee rad-6" placeholder="Your Thought"></textarea>
              <input class="save d-block fs-14 bg-blue c-white b-none w-fit btn-shape" type="submit" value="Save" />
            </form>
          </div>
          <!-- End Quick Draft Widget -->
          <!-- Start Targets Widget -->
          <div class="targets p-20 bg-white rad-10">
            <h2 class="mt-0 mb-10">Yearly Targets</h2>
            <p class="mt-0 mb-20 c-grey fs-15">Targets Of The Year</p>
            <div class="target-row mb-20 blue center-flex">
              <div class="icon center-flex">
                <i class='bx bx-dollar c-blue' ></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Money</span>
                <span class="d-block mt-5 mb-10 fw-bold">$20.000</span>
                <div class="progress p-relative">
                  <span class="bg-blue blue" style="width: 80%">
                    <span class="bg-blue">80%</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="target-row mb-20 center-flex orange">
              <div class="icon center-flex">
                <i class='bx bx-box c-orange'></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Products</span>
                <span class="d-block mt-5 mb-10 fw-bold">250</span>
                <div class="progress p-relative">
                  <span class="bg-orange orange" style="width: 55%">
                    <span class="bg-orange">55%</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="target-row mb-20 center-flex green">
              <div class="icon center-flex">
                <i class='bx bxs-user c-green'></i></i>
              </div>
              <div class="details">
                <span class="fs-14 c-grey">Team</span>
                <span class="d-block mt-5 mb-10 fw-bold">12</span>
                <div class="progress p-relative">
                  <span class="bg-green green" style="width: 75%">
                    <span class="bg-green">75%</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- End Targets Widget -->
<!-- Start Income Widget -->
<div class="income p-20 bg-white rad-10">
    <h2 class="mt-0 mb-10">Income Statistics</h2>
    <p class="mt-0 mb-20 c-grey fs-15">Everything About Support Tickets</p>
    <div class="d-flex txt-c gap-20 f-wrap">
      <div class="box p-20 rad-10 fs-13 c-grey">
        <i class="bx bx-list-ul fa-3x mb-10 c-orange"></i>
        <span class="d-block c-black fw-bold fs-25 mb-5">2500</span>
        Total
      </div>
      <div class="box p-20 rad-10 fs-13 c-grey">
        <i class="bx bx-loader-circle fa-3x mb-10 c-blue"></i>
        <span class="d-block c-black fw-bold fs-25 mb-5">500</span>
        Pending
      </div>
      <div class="box p-20 rad-10 fs-13 c-grey">
        <i class="bx bx-check-circle fa-3x mb-10 c-green"></i>
        <span class="d-block c-black fw-bold fs-25 mb-5">1900</span>
        Closed
      </div>
      <div class="box p-20 rad-10 fs-13 c-grey">
        <i class="bx bx-x fa-3x mb-10 c-red"></i>
        <span class="d-block c-black fw-bold fs-25 mb-5">100</span>
        Deleted
      </div>
    </div>
  </div>
  <!-- End Income Widget -->
          <!-- Start Top Search Word Widget -->
          <div class="search-items p-20 bg-white rad-10">
            <h2 class="mt-0 mb-20">Top Search Items</h2>
            <div class="items-head d-flex space-between c-grey mb-10">
              <div>Keyword</div>
              <div>Search Count</div>
            </div>
            <div class="items d-flex space-between pt-15 pb-15">
              <span>Tshirt</span>
              <span class="bg-eee fs-13 btn-shape">220</span>
            </div>
            <div class="items d-flex space-between pt-15 pb-15">
              <span>Pants</span>
              <span class="bg-eee btn-shape fs-13">180</span>
            </div>
            <div class="items d-flex space-between pt-15 pb-15">
              <span>Shoes</span>
              <span class="bg-eee btn-shape fs-13">160</span>
            </div>
            <div class="items d-flex space-between pt-15 pb-15">
              <span>Jacket</span>
              <span class="bg-eee btn-shape fs-13">145</span>
            </div>
          </div>
          <!-- End Top Search Word Widget -->
          <!-- Start Latest Products Widget -->
          <div class="latest-products p-20 bg-white rad-10">
            <h2 class="mt-0 mb-20">Latest Products</h2>
            <ul class="m-0">
              <li class="between-flex pb-10 mb-10">
                <div class="d-flex align-center">
                  <img class="mr-10" src="../images/Admin/NikeSportShoe.jpg" alt="" />
                  <div>
                    <span class="d-block">Nike Sport Shoe</span>
                    <span class="fs-15 c-grey">Mervat</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">2.9mb</div>
              </li>
              <li class="between-flex pb-10 mb-10">
                <div class="d-flex align-center">
                  <img class="mr-10" src="../images/Admin/GucciLadiesBag.avif" alt="" />
                  <div>
                    <span class="d-block">Gucci Ladies Bag</span>
                    <span class="fs-15 c-grey">Zeyad</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">4.9mb</div>
              </li>
              <li class="between-flex pb-10 mb-10">
                <div class="d-flex align-center">
                  <img class="mr-10" src="../images/Admin/GucciWomen'sBag.avif" alt="" />
                  <div>
                    <span class="d-block">Gucci Womens's Bag</span>
                    <span class="fs-15 c-grey">Nour</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">4.5mb</div>
              </li>
              <li class="between-flex pb-10 mb-10">
                <div class="d-flex align-center">
                  <img class="mr-10" src="../images/Admin/AdidasRunningShoe.jpg" alt="" />
                  <div>
                    <span class="d-block">Adidas Running Shoe</span>
                    <span class="fs-15 c-grey">Mark</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">8.9mb</div>
              </li>
              <li class="between-flex pb-10 mb-10">
                <div class="d-flex align-center">
                
                  <img class="mr-10" src="../images/Admin/HourglassJeans.webp" alt="" />
                  <div>
                    <span class="d-block">Hourglass Jeans</span>
                    <span class="fs-15 c-grey">Robert</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">4.9mb</div>
              </li>
              <li class="between-flex">
                <div class="d-flex align-center">
                  <img class="mr-10" src="../images/Admin/BlackWear'sShirt.webp" alt="" />
                  <div>
                    <span class="d-block">Black Wear's Shirt</span>
                    <span class="fs-15 c-grey">Mervat</span>
                  </div>
                </div>
                <div class="bg-eee btn-shape fs-13">8.9mb</div>
              </li>
            </ul>
          </div>
          <!-- End Latest Products Widget -->
          <!-- Start Social Media Stats Widget -->
          <div class="social-media p-20 bg-white rad-10 p-relative">
            <h2 class="mt-0 mb-25">Social Media Stats</h2>
            <div class="box twitter p-15 p-relative mb-10 between-flex">
              <i class="bx bxl-twitter fa-2x c-white h-full center-flex"></i>
              <span>90K Followers</span>
              <a class="fs-13 c-white btn-shape" href="#">Follow</a>
            </div>
            <div class="box facebook p-15 p-relative mb-10 between-flex">
              <i class="bx bxl-facebook fa-2x c-white h-full center-flex"></i>
              <span>2M Like</span>
              <a class="fs-13 c-white btn-shape" href="#">Like</a>
            </div>
            <div class="box youtube p-15 p-relative mb-10 between-flex">
              <i class="bx bxl-youtube fa-2x c-white h-full center-flex"></i>
              <span>1M Subs</span>
              <a class="fs-13 c-white btn-shape" href="#">Subscribe</a>
            </div>
            <div class="box linkedin p-15 p-relative mb-10 between-flex">
              <i class="bx bxl-linkedin fa-2x c-white h-full center-flex"></i>
              <span>70K Followers</span>
              <a class="fs-13 c-white btn-shape" href="#">Follow</a>
            </div>
          </div>
          <!-- Start End Media Stats Widget -->
        </div>
        <!-- Start Projects Table -->
        <div class="products p-20 bg-white rad-10 m-20">
          <h2 class="mt-0 mb-20">Orders</h2>
          <div class="responsive-table">
            <table class="fs-15 w-full">
              <thead>
                <tr>
                  <td>Product</td>
                  <td>Date</td>
                  <td>Client</td>
                  <td>Price</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Vuitton Sunglasses</td>
                  <td>10 May 2022</td>
                  <td>Ahmed Hany</td>
                  <td>$5300</td>
                  <td><span class="label btn-shape bg-orange c-white">Pending</span></td>
                </tr>
                <tr>
                  <td>Nike Sport Shoe</td>
                  <td>12 Oct 2021</td>
                  <td>Mohamed Ahmed</td>
                  <td>$1500</td>
                  <td><span class="label btn-shape bg-orange c-white">Pending</span></td>
                </tr>
                <tr>
                  <td>Succi Ladies Bag</td>
                  <td>05 Sep 2021</td>
                  <td>Habiba Sami</td>
                  <td>$800</td>
                  <td><span class="label btn-shape bg-green c-white">Completed</span></td>
                </tr>
                <tr>
                  <td>Gucci Womens's Bags</td>
                  <td>22 May 2021</td>
                  <td>Nada Ahmed</td>
                  <td>$600</td>
                  <td><span class="label btn-shape bg-green c-white">Completed</span></td>
                </tr>
                <tr>
                  <td>Bilack Wear's Shirt</td>
                  <td>24 May 2021</td>
                  <td>Mahmoud Hassan</td>
                  <td>$300</td>
                  <td><span class="label btn-shape bg-orange c-white">Pending</span></td>
                </tr>
                <tr>
                  <td>Nike Sport Shoe</td>
                  <td>01 Mar 2021</td>
                  <td>Abdelrahman Mohamed</td>
                  <td>$2600</td>
                  <td><span class="label btn-shape bg-green c-white">Completed</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Projects Table -->
      </div>
    </div>
  </body>
</html>
