<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../partials/Head.ejs") %>
</head>

<body>
  <div class="page d-flex">
    <%- include("../partials/sidebar_admin.ejs") %>
      <div class="content w-full">
        <!-- Start Head -->
        <%- include("../partials/Navbar_admin.ejs") %>
        <!-- End Head -->
        <h1 class="p-relative">Blankoo Clients</h1>
        <div class="friends-page d-grid m-20 gap-20">
          <% user.forEach((User)=> { %>
            <% if(User.isAdmin === false) {%>
            <%- include('../partials/user_card', { User: User }) %>
            <% } %>
          <% }); %>
        </div>
      </div>
  </div>
</body>

</html>