<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/Head.ejs") %>
    </head>
    
<body>
        <%- include("../partials/Nav.ejs") %>
        <section class="container-fluid">
            <h1>Error 404</h1>
        </section>
        <%- include("../partials/Top_Function.ejs") %>
        <%- include("../partials/Footer.ejs") %>
</body>
</html>