<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <%- include("../partials/Nav.ejs") %>
        <div class="container-fluid p-5">
            <div class="row no-gutter">
                <!-- The image half -->
                <!-- <div class="col-md-6 d-none d-md-flex bg-image" style="background-image: url(/images/photo5.jpg);"> -->

                </div>
                <!-- The content half -->
                <div class="col-md-12 bg-light ">

                    <div class="container " id="forgotPassword">
                        <div class="row ms-5">
                            <div class="col-lg-10 col-xl-7 ">
                                <h3 class="display-4">ForgotPassword</h3>

                                <form action="" method="post" >
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="email">Enter Your Email</label>
                                        <input id="email" type="email" placeholder="Email" name="email" autofocus=""
                                            class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <button type="submit"
                                        class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" >Submit</button>
                                </form>
                                
                                
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div><!-- End -->

            </div>
        </div>
        <!-- end -->
        <%- include("../partials/Top_Function.ejs") %>
        <%- include("../partials/Footer.ejs") %>
</body>

</html>