<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/Head') %>
</head>

<body >
  <!-- nav bar -->
  <div class="text-center bg-black vh-100 w-100 position-fixed " id="preloading" style="z-index: 10000000;">
    <div>
      <h1 class="bx bxl-bootstrap" style="margin-top: 300px;"></h1>
    </div>
    <div>
      <h1>BLANKOO</h1>
    </div>
    <div class="spinner-border text-light" role="status" style="margin-top: 200px;">
      <span class="visually-hidden ">Loading...</span>
    </div>
  </div>

   

    <h1 class="title bi-bootstrap-fill"></h1>
    <h2 class="title" >Blankoo</h2>
    <section class="container-fluid mb-5" >
        <div class="row " >
            <div class="col-12 col-sm  align-self-center mb-3 ">
              <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                <a href="/Home"> <img src="../images/MenMain.jpg" alt="" class="  img-fluid" ></a>
              </div>
            </div>
            <div class="col-12 col-sm  align-self-center mb-3 ">
              <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                <a href="/Home"> <img src="../images/WomenMain.jpg" alt="" class="  img-fluid" ></a>
              </div>
            </div>
          </div>
    </section>  
     
</body>


</html>