<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <%- include("../partials/Nav.ejs") %>
        <div class="container-fluid p-5">
            <div class="row no-gutter">
                </div>
                <!-- The content half -->
                <div class="col-md-12 bg-light ">

                    <div class="container " id="forgotPassword">
                        <div class="row ms-5">
                            <div class="col-lg-10 col-xl-7 ">
                                <h3 class="display-4">Please Check Your Email</h3>
                                <p>Link for reset your password has been sent to your email</p>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div><!-- End -->

            </div>
        </div>
        <!-- end -->
        <%- include("../partials/Top_Function.ejs") %>
        <%- include("../partials/Footer.ejs") %>
</body>

</html>