<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/Head.ejs") %>
    </head>
<body>
    <%- include("../partials/Nav.ejs") %>

    <section class=" mb-5">
        <div class="d-flex flex-sm-row flex-column ">
          <!-- images for pc -->
          <div class="col-sm-8 d-none d-sm-inline bg-white">
    
            <div class="row">
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/pants/9ec2646fbbc0b4689d40316238281a55-0374388800_2_24_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/883261461aa3dfbcd47597bedba82c88-0374388800_1_1_0.webp" alt="" srcset="">
                </div>
              </div>
    
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/1d5b19a42c0202e0b848be1c99f4e1c0-0374388800_2_1_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/702b92c9c170d71eed492db1d63a3b6c-0374388800_2_4_0.webp" alt="" srcset="">
                </div>
              </div>
    
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/f49ac68c19a4f07b681456b2817c21d9-0374388800_2_5_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/0a47c02d9b23b13ae8411577a6a25553-0374388800_2_2_0.webp" alt="" srcset="">
                </div>
              </div>
    
            </div>
    
          </div>
    
          <!-- end -->
          <!-- images for mobile -->
          <!-- carousel product slider for mobile -->
          <section class=" d-block d-sm-none  mb-3">
            <div id="mobile_carsouel_single_product" class="carousel slide">
              <div class="carousel-inner">
                <!-- carousel 1 -->
                <div class="carousel-item active">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/pants/9ec2646fbbc0b4689d40316238281a55-0374388800_2_24_0.webp" alt="" srcset="" class="">
                  </div>
                </div>
    
                <!-- carousel 2 -->
                <div class="carousel-item ">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/pants/883261461aa3dfbcd47597bedba82c88-0374388800_1_1_0.webp" alt="" srcset="">
                  </div>
                </div>
    
                <!-- carousel 3 -->
                <div class="carousel-item ">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/pants/1d5b19a42c0202e0b848be1c99f4e1c0-0374388800_2_1_0.webp" alt="" srcset="">
                  </div>
                </div>
    
                <!-- carousel 4 -->
                <div class="carousel-item ">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/D_slide_man_jeans_-1.jpg\" alt="" srcset="">
                  </div>
                </div>
    
                <!-- carousel 5 -->
                <div class="carousel-item ">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/D_slide_man_suit_-1.jpg" alt="" srcset="">
                  </div>
                </div>
    
                <!-- carousel 6 -->
                <div class="carousel-item ">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/pants/f49ac68c19a4f07b681456b2817c21d9-0374388800_2_5_0.webp" alt="" srcset="">
                  </div>
                </div>
    
                <!-- control carousel  -->
    
                <button class="carousel-control-prev" type="button" data-bs-target="#mobile_carsouel_single_product"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon btn btn-dark" aria-hidden="true"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mobile_carsouel_single_product"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon btn btn-dark" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </section>
          <!-- end -->
          <!-- product info -->
          <div class="container bg-white col-sm-4 col-12 p-3  ">
            <div class="sticky-top">
    
              <h4 class="text-black" style="font-size: 2.25rem;">Product name</h4>
    
              <div class="container mb-5">
                <h5 class="text-secondary ">$70</h5>
              </div>
    
              <div class="container mb-3 ">
                <span class="text-dark  ">
                  <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                  <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                  <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                  <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                  <i class="fa-sharp fa-regular fa-star"></i> (234)
                </span>
              </div>
    
              <div class="container mb-3 border-top pt-2">
                <span class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur vero nemo
                  adipisci voluptatem sunt in dolores aut unde,
                  nostrum rem aperiam voluptatum hic nihil amet, perferendis at corrupti repellendus ab.</span>
              </div>
    
              <div class="container mb-3 border-top pt-2">
                <span class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur vero nemo
                  adipisci voluptatem sunt in dolores aut unde,
                  nostrum rem aperiam voluptatum hic nihil amet, perferendis at corrupti repellendus ab.</span>
              </div>
    
              <div class="container mb-3 border-top pt-2">
                <span class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur vero nemo
                  adipisci voluptatem sunt in dolores aut unde,
                  nostrum rem aperiam voluptatum hic nihil amet, perferendis at corrupti repellendus ab.</span>
              </div>
    
              <div class="container mb-3 border-top pt-2">
                <span class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur vero nemo
                  adipisci voluptatem sunt in dolores aut unde,
                  nostrum rem aperiam voluptatum hic nihil amet, perferendis at corrupti repellendus ab.</span>
              </div>
    
              <div class="container mb-3 d-flex justify-content-end  ">
                <button class="btn btn-dark  m-2">Add To Cart</button>
                <button class="btn btn-dark  m-2">Buy Now</button>
              </div>
    
            </div>
    
          </div>
        </div>
      </section>
      <%- include("../partials/Top_Function.ejs") %>
      <%- include("../partials/Footer.ejs") %>
</body>

</html>