<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    
        <div class="container-fluid p-5">
            <div class="row no-gutter">
                </div>
                <!-- The content half -->
                <div class="col-md-12 bg-light ">

                    <div class="container " id="resetPassword">
                        <div class="row ms-5">
                            <div class="col-lg-10 col-xl-7 ">
                                <h3 class="display-4">Reset Password <%= email %></h3>

                                <form action="" method="post" >
                                    <div class="form-group mb-3">
                                        <label class="form-label" for="email">Enter Your New Password</label>
                                        <input id="password" type="password" placeholder="New Password" name="password" autofocus=""
                                            class="form-control rounded-pill border-0 shadow-sm px-4">
                                    </div>
                                    <button type="submit"
                                        class="btn btn-dark btn-block text-uppercase mb-2 rounded-pill shadow-sm" >Submit</button>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                </div><!-- End -->

            </div>
        </div>
       
</body>

</html>